<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        <h1>Register ME </h1>
        <label for="Username"></label>
        <input type="text" name="username" id="">
        <label for="Password"></label></br>
        <input type="password" name="password"></br>
        <input type="submit" value="Submit form">
      
    </form>
</body>
</html>